{% load static %}
<!DOCTYPE html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
   text-align: center;
   vertical-align: middle;
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seedcase Project Portal</title>
    <header class="header-banner" id="ifln">
        <h1 id="i5utm"><span id="i5nr4">Seedcase Portal</span></h1>
    </header>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

{% block content %}

{% endblock content %}

</body>
</html>