{% extends 'base.html' %}
{% block content %}

         <section class="flex-sect" id="isdxm">
            <div class="container-width" id="iumf">
               <div class="logo-container"></div>
               <nav class="menu" id="ituj">
                  <div class="menu-item" id="i7b2"><a
                          href="/datafile/"><h3>Data Files</h3></a></div>
                  <div class="menu-item" id="i7b2"><a href="/projects/"><h3>Projects</h3></a></div>
                  <div class="menu-item" id="i7b2"><a href="/organizations/"><h3>Organizations</h3></a></div>
                  <div class="menu-item" id="i6uff"><a href="/"><h3>Home</h3></a></div>
               </nav>
               <div class="clearfix"></div>
            </div>
            <div class="container-width" id="ik8ys">
               <div class="clearfix"></div>
               <div id="i4pz9"><span id="iys1r">The Data Science Research Infrastructure Programme aims to create bottom-up opportunities for open, national data science infrastructures, which are critical for achieving excellent data science driven research in Denmark. Such infrastructure is in this context defined as computational infrastructures, databases and data resources, and data-generating technologies.</span><br/></div>
            </div>
         </section>
         <section class="bdg-sect" id="i4alek">
            <div class="container-width" id="i7tf3b">
               <h1 class="bdg-title" id="il377r">Projects</h1>
               <div class="badges" id="in0skk">
                  <div class="badge">
                     <div class="badge-header" id="id236f"></div>
                     <div class="badge-body">
                        <div class="badge-name" id="ilto4i">Project 1</div>
                        <div class="badge-role" id="i0u3kj"></div>
                        <div class="badge-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit</div>
                     </div>
                     <button type="button" id="i0ppbp">More Detail</button>
                     <div class="badge-foot" id="ixgizk"></div>
                  </div>
                  <div class="badge" id="i1wtgd">
                     <div class="badge-header" id="ix62d8"></div>
                     <div class="badge-body">
                        <div class="badge-name" id="ikd2ib">Project 2</div>
                        <div class="badge-role" id="i6ixfr"></div>
                        <div class="badge-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit</div>
                     </div>
                     <button type="button" id="iy6yo7">More Detail</button>
                     <div class="badge-foot"></div>
                  </div>
                  <div class="badge" id="ibaced">
                     <div class="badge-header" id="id336s"></div>
                     <div class="badge-body">
                        <div class="badge-name" id="itbav4">Project 3</div>
                        <div class="badge-role" id="iz0zbk"></div>
                        <div class="badge-desc" id="i16jak">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit</div>
                     </div>
                     <button type="button" id="iw8pcr">More Detail</button>
                     <div class="badge-foot" id="i4lrm4"></div>
                  </div>
               </div>
            </div>
         </section>
         <footer class="footer-under" id="i7evli">
            <div class="container-width"></div>
            <div class="copyright" id="ifvaan">
               <div class="container-width">
                  <div class="made-with" id="ib5pqh"></div>
                  <h5 id="io53l">@Steno Diabetes Center Aarhus University</h5>
                  <div class="clearfix"></div>
               </div>
            </div>
         </footer>
{% endblock content %}
