{% extends 'base.html' %}

{% block content %}
 <div class="container-width" id="iumf">
               <div class="logo-container"></div>
               <nav class="menu" id="ituj">
                   <div class="menu-item" id="i7b2"><a href="/project_app/"><h3>Data List</h3></a></div>
                  <div class="menu-item" id="i7b2"><a href="/projects/"><h3>Projects</h3></a></div>
                  <div class="menu-item" id="i7b2"><a href="/organizations/"><h3>Organizations</h3></a></div>
                  <div class="menu-item" id="i6uff"><a href="/"><h3>Home</h3></a></div>
               </nav>
               <div class="clearfix"></div>
            </div>

<p>

<table class="table" style="width:40%; margin: 0px auto;">
  <thead>
    <tr>
      <th scope="col-8">#</th>
      <th scope="col-8">Project Name</th>
      <th scope="col-8">Project Description</th>
      <th scope="col-8">Project Stack Holders</th>
        <th scope="col-8">Team Members</th>
    </tr>
  </thead>
  <tbody>
        {% for project in project_list %}
            <tr>
                <th >{{project.id}}</th>
                <td> {{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{% for org in project.stakeholder.all %}{{ org }}</br>{% endfor %}</td>
                <td>{% for user in project.team_member.all %}{{ user }}</br>{% endfor %}</td>

            </tr>
        {% endfor %}
  </tbody>
</table>


{% endblock content %}